<nav th:fragment="nav" class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand mb-0 h1" href="#">
            <span>BeerChamps</span>
            <img th:src="@{/images/crown.png}" width="30" height="30" class="d-inline-block align-top" alt=""/>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home</a>
                <a class="nav-item nav-link disabled" href="#">Settings</a>
            </div>
        </div>
    </div>
</nav>