<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: html_head"></head>
<body>

<nav th:replace="fragments/nav :: nav"></nav>

<div class="container">
    <div class="text-center"
         style="background-color: #f2f2f2; margin-top: 20px; border-radius: 10px; padding: 20px 10px;">
        <h2>Create new Team</h2>
    </div>
    <form id="create-team" method="POST" th:action="@{/tournament/{id}/team/create(id=${tournID})}"
          th:object="${newTeam}">
        <div class="form-group">
            <label for="teamName">Team Name</label>
            <input type="text" class="form-control" id="teamName" th:field="*{teamName}"
                   th:required="required" autofocus>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary ">Create Team</button>
        </div>

        <script>
            function checkForm() {
                var input = document.querySelector("#create-team input");
                if (!input.value) {
                    document.querySelector("#create-team button").disabled = true;
                } else {
                    document.querySelector("#create-team button").disabled = false;
                }
            }

            var input = document.querySelector("#create-team input");
            input.addEventListener("input", checkForm);
            checkForm();
        </script>

    </form>

</div>
</body>
</html>